body {
  text-align:center;
  background: linear-gradient(teal, white);
}
h1 {
    text-shadow: 2px 2px #F8BBDO;
  font-size:20px;
}
#bio {
padding:20px;
  font-size:18px;
  text-align:center;
}
img {
  border-radius:50%;
  width:200px;
  
}
